<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1> Rock Climbing Routes </h1>
        <a href="/routes/new">Add A New Route </a></br>
        <% for(let i = 0; i < routes.length; i++){%>
            <a href="/routes/<%=routes[i].id%>">
                <p><%=routes[i].name%></p>
            </a></br>
        <%}%>
        <form action="/sessions/destroy?_method=DELETE" method="POST">
            <input type="submit" value="Log Out">
        </form>
    </body>
</html>
