<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Add Your Route</h1>
        <form action="/routes" method="POST">
            Name: <input type="text" name="name"/></br>
            Description: <input type="text" name="description"/></br>
            Location: <input type="text" name="location"/></br>
            Height: <input type="number" name="height"/></br>
            Anchors: <input type="text" name="anchors"/></br>
            Bolts: <input type="number" name="bolts"/></br>
            Rock Type: <input type="text" name="rockType"/></br>
            <input type="submit" value="Create Route"/>
        </form>
        <a href="/routes">Back To Routes Page</a>
    </body>
</html>
