<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
            <a href="/sessions/new">Log In</a>
            <a href="/users/new">Sign Up</a>
        </nav>

        <h1> Welcome To Rock Climbing Routes </h1>
        <p> A place for you to check out rock climbing routes as well as rate routes and write reviews about the routes that you send. </p>
    </body>
</html>
