body {
    background: #484848;
}
h1 {
    color: lightgrey;
    text-align: center;
}

h2 {
    color: lightgrey;
}

h3 {
    color: lightgrey;
}

li {
    color: lightgrey;
}

p {
    color: lightgrey;
}
