/* * {
    background-color: green;
} */
/* nav {
    background-color: tan;
}
a {

}

img {
    background-size: cover;
    background-position: center center;
}

h1 {
    color: tan;

}

p {
    color: black;
}

a {
    color: red;
} */
