<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1> Welcome To Rock Climbing Routes </h1>
        <h3>Please Sign Up</h3>
        <form action="/users" method="POST">
            Username: <input type="text" name="username"/></br>
            Password: <input type="password" name="password"/></br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>
